<div class="container form-container p-5">
    <form [formGroup]="userProfile" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row g-3">
            <div class="col-12 mb-3">
                <label for="nameInput" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="user_name" id="nameInput" [ngClass]="{ 'is-invalid' : submitted && f.user_name.errors }" required>
                
                <div class="invalid-feedback">
                    Name is required.
                </div>
            </div>
            
            
            <div class="col-12 mb-3">
                <label for="ageInput" class="form-label">Age</label>
                <input type="number" class="form-control" formControlName="age" id="ageInput" [ngClass]="{ 'is-invalid' : submitted && f.age.errors }"  required>

                <div class="invalid-feedback">
                    Age is required.
                </div>

            </div>
            
            
            <div class="col-12 mb-3">
                <label for="selectInput" class="form-label">Qualification</label>
            
                <select class="form-select" formControlName="qualification" id="selectInput" [ngClass]="{ 'is-invalid' : submitted && f.qualification.errors }" required>
                    <option *ngFor="let q of userFields.qualification"  [ngValue]="q">{{ q }}</option>
                </select>

                <div class="invalid-feedback">
                    Please Select a valid Qualification.
                </div>
            
            </div>

            <div class="col-12 mb-3">
                <p>Gender</p>
            
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="gender" id="radio1" value="Male" [ngClass]="{ 'is-invalid' : submitted && f.gender.errors}" required>
                    <label class="form-check-label" for="radio1">Male</label>
                </div>
            
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="gender" id="radio2" value="Female" [ngClass]="{'is-invalid' : submitted && f.gender.errors}" required>
                    <label class="form-check-label" for="radio2">Female</label>
                </div>
            
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="gender" id="radio3" value="Others" [ngClass]="{'is-invalid' : submitted && f.gender.errors}" required>
                    <label class="form-check-label" for="radio3">Others</label>
                </div>

                <div class="invalid-feedback">
                    Gender is Required.
                </div>
            </div>


            <div class="col-4">
                <label for="inputCity">City</label>

                <input type="text" class="form-control" formControlName="city" id="inputCity" [ngClass]="{'is-invalid' : submitted && f.city.errors}" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>

            </div>

            <div class="col-4">
                <label for="selectState" class="form-label">State</label>

                <select class="form-select"  formControlName="state" id="selectInput" [ngClass]="{'is-invalid' : submitted && f.state.errors}" required>
                    <option *ngFor="let state of userFields.state" [ngValue]="state">{{ state }}</option>
                </select>

                <div class="invalid-feedback">
                    Please select a valid state.
                </div>

            </div>

            <div class="col-4">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" formControlName="zip" id="inputZip" [ngClass]="{'is-invalid' : submitted && f.zip.errors}" required>

                <div class="invalid-feedback">
                    Please provide a valid zip.
                </div>

            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary mb-3" [disabled]="disable">Save</button><br>
            </div>

            <div class="col-12">
                <button type="button" (click)="onClear()" class="btn btn-warning mb-3" [disabled]="disable">Cancel</button>
            </div>

        </div>
    </form>
    <button type="button" (click)="onEdit()" class="btn btn-primary">Edit</button>
</div>
